{% extends "base_with_nav.html" %}

{% block title %}PersonalBudget.com - Dodaj wydatek{% endblock %}

{% block body %}

    <main>
        <section id="add-expense">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 m-auto content-background">
                        <h2 class="pt-3 mb-3">Dodawanie wydatku</h2>

                        {% if expense.errors is not empty %}
                            <p>Błędy:</p>
                                <ul>
                                    {% for error in expense.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                        {% endif %}

                        <form method="post" action="/expense/create" id="formAddExpense">

                            <div class="amountErr"></div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-pen"></i>
                                </span>
                                <input type="number" name="amount" id="inputExpense" step="0.01" class="form-control" min="0.01" max="1000000000" placeholder="Wpisz kwotę..." value="{{ expense.amount }}" required>
                            </div>

                            <div class="dateErr"></div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-calendar"></i>
                                </span>
                                {% if expense.date %}
                                    <input type="text" name="date" id="date" class="date form-control" value="{{ expense.date }}" required>
                                {% else %}
                                    <input type="text" name="date" id="date" class="date form-control" value="{{ date }}" required>
                                {% endif %}
                            </div>

                            <input type="hidden" name="payment" value="">

                            <div class="paymentErr"></div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-money-check-dollar"></i>
                                </span>
                                <select class="form-select" name="payment" required>
                                    {% if expense.payment %}
                                        <option value="{{ expense.payment }}">{{ expense.payment }}</option>
                                    {% else %}
                                        <option disabled selected>Wybierz sposób płatności...</option>
                                    {% endif %}
                                    {% for method in paymentMethods %}
                                        {% if method.name != expense.payment %}
                                            <option value="{{ method.name }}">{{ method.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <input type="hidden" name="category" value="">

                            <div class="categoryErr"></div>
                            
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fa-brands fa-shopify"></i>
                                </span>
                                <select class="form-select" name="category" required>
                                    {% if expense.category %}
                                        <option value="{{ expense.category }}">{{ expense.category }}</option>
                                    {% else %}
                                        <option disabled selected>Wybierz rodzaj wydatku...</option>
                                    {% endif %}
                                    {% for category in categories %}
                                        {% if category.name != expense.category %}
                                            <option value="{{ category.name }}">{{ category.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-pen"></i>
                                </span>
                                <input type="text" name="comment" class="form-control" placeholder="Komentarz...">
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-success mb-3">Dodaj</button>
                                <button type="button" class="btn btn-danger mb-3">Anuluj</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}