{% extends "base.html" %}

{% block title %}PersonalBudget.com - Zmiana hasła{% endblock %}

{% block body %}
    <main>
        <section id="login-form">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-4 bg-white m-auto rounded-top wrapper">
                        <h2 class="pt-3 mb-3">Zmiana hasła</h2>

                        <form method="post" action="/password/request-reset">

                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="email" class="form-control" placeholder="Email" id="inputEmail" name="email" autofocus required >
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-success mb-3">Wyślij prośbę o zmianę hasła</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}