{% extends "base_with_nav.html" %}

{% block title %}PersonalBudget.com - Bilans{% endblock %}

{% block nav_item %}

    <li class="nav-item">
        <form action="/balance/index">
            <select class="form-select" name="period" onchange="this.form.submit()">
                <option disabled selected>Wybierz okres...</option>
                <option value="currentMonth">Bieżący miesiąc</option>
                <option value="previousMonth">Poprzedni miesiąc</option>
                <option value="currentYear">Bieżący rok</option>
                <option value="custom">Niestandardowy</option>
            </select>
        </form>
    </li>

{% endblock %}

{% block body %}

    <main>
        <section id="balance">
            <div class="container-fluid">

                <div class="row">
                    <div class="m-auto content-background">
                        {% if period == 'currentMonth' %}
                            <h2 class="pt-3 mb-3">Bieżący miesiąc</h2>
                        {% elseif period == 'previousMonth' %}
                            <h2 class="pt-3 mb-3">Poprzedni miesiąc</h2>
                        {% elseif period == 'currentYear' %}
                            <h2 class="pt-3 mb-3">Bieżący rok</h2>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="card-group">

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Przychody</h3>
                                <p class="card-text">Wynagordzenie</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Wydatki</h3><hr>
                                {% for expense in expenses %}
                                    <p class="card-text">{{ expense.name }} : {{ expense.amount }}</p>
                                {% endfor %}
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Bilans</h3>
                                <p class="card-text">Gratuluję dobrego zarządzania budżetem</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}