{% extends "base_with_nav.html" %}

{% block title %}PersonalBudget.com - Bilans{% endblock %}

{% block nav_item %}

    <li class="nav-item">
        <form action="/balance/index">
            <select class="form-select" name="period" id="period" onchange="if (this.value != 'custom') {this.form.submit()}">
                <option disabled selected>Wybierz okres...</option>
                <option value="currentMonth">Bieżący miesiąc</option>
                <option value="previousMonth">Poprzedni miesiąc</option>
                <option value="currentYear">Bieżący rok</option>
                <option value="custom">Niestandardowy</option>
            </select>
        </form>
    </li>

{% endblock %}

{% block body %}

    <main>
        <section id="balance">
            <div class="container-fluid">
                
                <!-- Modal to choose custom period -->
                <div class="modal fade" id="customPeriodModal" tabindex="-1" aria-labelledby="customPeriodModalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="customPeriodModalLabel">Wybierz okres</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/balance/index" id="customPeriodForm">

                                <div class="startDateErr"></div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-calendar"></i>
                                    </span>
                                        <input type="text" name="start-date" id="start-date" class="date form-control" placeholder="Od..." required>
                                </div>

                                <div class="endDateErr"></div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-calendar"></i>
                                    </span>
                                        <input type="text" name="end-date" id="end-date" class="date form-control" placeholder="Do..." required>
                                </div>

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                <button type="submit" class="btn btn-primary">Wyświetl</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Modal for edit income -->
                <div class="modal fade" id="editIncomeModal" tabindex="-1" aria-labelledby="editIncomeLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editIncomeModalLabel">Edytuj przychód</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/income/update" id="addIncomeModal" onsubmit="setTimeout(function(){window.location.reload();},10);">
                                <input type="hidden" name="incomeId" id="incomeId">

                                <div class="amountErr"></div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-pen"></i>
                                    </span>
                                    <input type="number" name="amount" id="inputIncome" step="0.01" class="form-control" min="0.01" max="1000000000" placeholder="Wpisz kwotę..." value="{{ income.amount }}" required>
                                </div>

                                <div class="dateErr"></div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-calendar"></i>
                                    </span>
                                    <input type="text" name="date" id="date" class="date form-control" required>
                                </div>

                                <div class="categoryErr"></div>
                            
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-brands fa-shopify"></i>
                                    </span>
                                    <select class="form-select" name="category" id="selectIncomeCategory" required>
                                        <option id="incomeCategory"></option>
                                        {% for category in incomeCategories %}
                                            <option value="{{ category.name }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-pen"></i>
                                    </span>
                                    <input type="text" name="comment" id="comment" class="form-control" placeholder="Komentarz...">
                                </div>

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                <button type="submit" class="btn btn-primary">Zapisz zmiany</button>

                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Modal for delete income -->
                <div class="modal fade" id="deleteIncomeModal" tabindex="-1" aria-labelledby="deleteIncomeModalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteIncomeModalLabel">Usuwanie przychodu</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/income/delete" id="deleteIncomeForm" onsubmit="setTimeout(function(){window.location.reload();},10);">
                                <input type="hidden" name="incomeId" id="incomeId">
                                <p>Czy usunąć wybrany przychód?</p>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                <button type="submit" class="btn btn-primary">Usuń przychód</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Modal for edit expense -->
                <div class="modal fade" id="editExpenseModal" tabindex="-1" aria-labelledby="editExpenseLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editExpenseModalLabel">Edytuj wydatek</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/expense/update" id="addExpenseModal" onsubmit="setTimeout(function(){window.location.reload();},10);">
                                <input type="hidden" name="expenseId" id="expenseId">

                                <div class="amountErr"></div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-pen"></i>
                                    </span>
                                    <input type="number" name="amount" id="inputExpense" step="0.01" class="form-control" min="0.01" max="1000000000" placeholder="Wpisz kwotę..." value="{{ expense.amount }}" required>
                                </div>

                                <div class="dateErr"></div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-calendar"></i>
                                    </span>
                                    <input type="text" name="date" id="date" class="date form-control" required>
                                </div>

                                <div class="paymentErr"></div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-money-check-dollar"></i>
                                    </span>
                                    <select class="form-select" name="payment" id="selectPaymentMethod" required>
                                        <option id="paymentMethod"></option>
                                        {% for method in paymentMethods %}
                                            <option value="{{ method.name }}">{{ method.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="categoryErr"></div>
                            
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-brands fa-shopify"></i>
                                    </span>
                                    <select class="form-select" name="category" id="selectExpenseCategory" required>
                                        <option id="expenseCategory"></option>
                                        {% for category in expenseCategories %}
                                            <option value="{{ category.name }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-pen"></i>
                                    </span>
                                    <input type="text" name="comment" id="comment" class="form-control" placeholder="Komentarz...">
                                </div>

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                <button type="submit" class="btn btn-primary">Zapisz zmiany</button>

                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Modal for delete expense -->
                <div class="modal fade" id="deleteExpenseModal" tabindex="-1" aria-labelledby="deleteExpenseModalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteExpenseModalLabel">Usuwanie wydatku</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/expense/delete" id="deleteExpenseForm" onsubmit="setTimeout(function(){window.location.reload();},10);">
                                <input type="hidden" name="expenseId" id="expenseId">
                                <p>Czy usunąć wybrany wydatek?</p>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                <button type="submit" class="btn btn-primary">Usuń wydatek</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    </div>
                </div>

                <div class="row no-gutter-x">
                    <div class="m-auto content-background">
                        {% if period == 'currentMonth' %}
                            <h2 class="pt-3 mb-3">Bieżący miesiąc</h2>
                        {% elseif period == 'previousMonth' %}
                            <h2 class="pt-3 mb-3">Poprzedni miesiąc</h2>
                        {% elseif period == 'currentYear' %}
                            <h2 class="pt-3 mb-3">Bieżący rok</h2>
                        {% elseif period == 'custom' %}
                            <h2 class="pt-3 mb-3">Okres od <span class="custom-date">{{ startdate }}</span> do <span class="custom-date">{{ enddate }}</span></h2>
                        {% endif %}
                    </div>
                </div>

                <div class="row no-gutter-x">
                    <div class="card-group">

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Przychody</h3><hr>
                                {% for income in incomes %}
                                    <p class="card-text">{{ income.name }} : {{ income.amount }}</p>
                                {% endfor %}
                                <hr>
                                {% set totalIncomesSum = 0 %}
                                {% for income in incomes %}
                                    {% set totalIncomesSum = totalIncomesSum + income.amount %}
                                {% endfor %}
                                <p class="card-text">Suma: {{ totalIncomesSum|number_format(2, '.', ' ') }}</p>
                                <div id="for-income-pie-chart" data-incomes="{{ incomes|json_encode }}"></div>
                                <hr>
                                <canvas id="incomesChart" class="m-auto" style="width:90%;max-width:350px"></canvas>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Wydatki</h3><hr>
                                {% for expense in expenses %}
                                    <p class="card-text">{{ expense.name }} : {{ expense.amount }}</p>
                                {% endfor %}
                                <hr>
                                {% set totalExpensesSum = 0 %}
                                {% for expense in expenses %}
                                    {% set totalExpensesSum = totalExpensesSum + expense.amount %}
                                {% endfor %}
                                <p class="card-text">Suma: {{ totalExpensesSum|number_format(2, '.', ' ') }}</p>
                                <div id="for-expense-pie-chart" data-expenses="{{ expenses|json_encode }}"></div>
                                <hr>
                                <canvas id="expensesChart" class="m-auto" style="width:90%;max-width:350px"></canvas>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Bilans</h3><hr>
                                <p class="card-text">{{ totalIncomesSum - totalExpensesSum }}</p>
                                <hr>
                                {% if totalIncomesSum - totalExpensesSum >= 0 %}
                                    <p class="card-text" style="color: darkgreen;">Gratulujemy poprawnego zarządzania budżetem!</p>
                                {% else %}
                                    <p class="card-text" style="color:crimson;">Uważaj! Wpadasz w długi.</p>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row no-gutter-x">
                    <div class="card-group">

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Zestawienie szczegółowe przychodów</h3><hr>
                                <div class="table-responsive table-responsive-{lg}">
                                <table class="table">
                                    <tbody>
                                        <th>Data</th>
                                        <th>Kwota</th>
                                        <th>Kategoria</th>
                                        <th>Komentarz</th>
                                        <th>Edytuj/Usuń</th>
                                        {% for detailedIncome in detailedIncomes%}
                                            <tr>
                                                <td class="align-middle">{{ detailedIncome.date_of_income }}</td>
                                                <td class="align-middle">{{ detailedIncome.amount }}</td>
                                                <td class="align-middle">{{ detailedIncome.name }}</td>
                                                <td class="align-middle">{{ detailedIncome.income_comment }}</td>
                                                <td class="align-middle">
                                                    <button type="button" id="edit-income" data-bs-toggle="modal" data-bs-target="#editIncomeModal" data-income="{{ detailedIncome|json_encode }}"><i class="fa-solid fa-file-pen"></i></button>
                                                    <button type="button" id="delete-income" data-bs-toggle="modal" data-bs-target="#deleteIncomeModal" data-id="{{ detailedIncome.id }}"><i class="fa-solid fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Zestawienie szczegółowe wydatków</h3><hr>
                                <div class="table-responsive table-responsive-{lg}">
                                <table class="table">
                                    <tbody>
                                        <th>Data</th>
                                        <th>Kwota</th>
                                        <th>Kategoria</th>
                                        <th>Komentarz</th>
                                        <th>Edytuj/Usuń</th>
                                        {% for detailedExpense in detailedExpenses%}
                                            <tr>
                                                <td class="align-middle">{{ detailedExpense.date_of_expense }}</td>
                                                <td class="align-middle">{{ detailedExpense.amount }}</td>
                                                <td class="align-middle">{{ detailedExpense.name }}</td>
                                                <td class="align-middle">{{ detailedExpense.expense_comment }}</td>
                                                <td class="align-middle">
                                                    <button type="button" id="edit-expense" data-bs-toggle="modal" data-bs-target="#editExpenseModal" data-expense="{{ detailedExpense|json_encode }}"><i class="fa-solid fa-file-pen"></i></button>
                                                    <button type="button" id="delete-expense" data-bs-toggle="modal" data-bs-target="#deleteExpenseModal" data-id="{{ detailedExpense.id }}"><i class="fa-solid fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>

                    </div>                    
                </div>
            </div>
        </section>
    </main>

{% endblock %}

{% block expense_pie %}
//pie chart for expenses

    var expenses = $('#for-expense-pie-chart').data('expenses');

    function expenseLabels() {
        const labels = [];

        for (let i = 0; i < expenses.length; i++) {
            labels.push(expenses[i].name);
        }

        return labels;
    }

    function expenseAmounts() {
        const amounts = [];

        for (let i = 0; i < expenses.length; i++) {
            amounts.push(expenses[i].amount);
        }

        return amounts;
    }

    const ctxExpense = document.getElementById('expensesChart');

    new Chart(ctxExpense, {
        type: 'pie',
        data: {
            labels: expenseLabels(),
            datasets: [{
                data: expenseAmounts(),
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(0, 128, 0)',
                    'rgb(210, 105, 30)',
                    'rgb(139, 0, 139)',
                    'rgb(65, 105, 225)',
                    'rgb(255, 127, 80)',
                    'rgb(0, 128, 128)',
                    'rgb(255, 0, 255)'
                ],
                hoverOffset: 4
            }]
        },
    });

    //pie chart for incomes

    var incomes = $('#for-income-pie-chart').data('incomes');

    function incomeLabels() {
        const labels = [];

        for (let i = 0; i < incomes.length; i++) {
            labels.push(incomes[i].name);
        }

        return labels;
    }

    function incomeAmounts() {
        const amounts = [];

        for (let i = 0; i < incomes.length; i++) {
            amounts.push(incomes[i].amount);
        }

        return amounts;
    }

    const ctxIncome = document.getElementById('incomesChart');

    new Chart(ctxIncome, {
        type: 'pie',
        data: {
            labels: incomeLabels(),
            datasets: [{
                data: incomeAmounts(),
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(0, 128, 0)',
                    'rgb(210, 105, 30)',
                    'rgb(139, 0, 139)',
                    'rgb(65, 105, 225)',
                    'rgb(255, 127, 80)',
                    'rgb(0, 128, 128)',
                    'rgb(255, 0, 255)'
                ],
                hoverOffset: 4
            }]
        },
    });
{% endblock %}