{% extends "base_with_nav.html" %}

{% block title %}PersonalBudget.com - Bilans{% endblock %}

{% block nav_item %}

    <li class="nav-item">
        <form action="/balance/index">
            <select class="form-select" name="period" id="period" onchange="if (this.value != 'custom') {this.form.submit()}">
                <option disabled selected>Wybierz okres...</option>
                <option value="currentMonth">Bieżący miesiąc</option>
                <option value="previousMonth">Poprzedni miesiąc</option>
                <option value="currentYear">Bieżący rok</option>
                <option value="custom">Niestandardowy</option>
            </select>
        </form>
    </li>

{% endblock %}

{% block body %}

    <main>
        <section id="balance">
            <div class="container-fluid">
                
                <!-- Modal -->
                <div class="modal fade" id="customPeriodModal" tabindex="-1" aria-labelledby="customPeriodModalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="customPeriodModalLabel">Wybierz okres</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/balance/index" id="customPeriodForm">

                                <div class="startDateErr"></div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-calendar"></i>
                                    </span>
                                        <input type="text" name="start-date" id="start-date" class="date form-control" placeholder="Od..." required>
                                </div>

                                <div class="endDateErr"></div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-calendar"></i>
                                    </span>
                                        <input type="text" name="end-date" id="end-date" class="date form-control" placeholder="Do..." required>
                                </div>

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                <button type="submit" class="btn btn-primary">Wyświetl</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    </div>
                </div>

                <div class="row">
                    <div class="m-auto content-background">
                        {% if period == 'currentMonth' %}
                            <h2 class="pt-3 mb-3">Bieżący miesiąc</h2>
                        {% elseif period == 'previousMonth' %}
                            <h2 class="pt-3 mb-3">Poprzedni miesiąc</h2>
                        {% elseif period == 'currentYear' %}
                            <h2 class="pt-3 mb-3">Bieżący rok</h2>
                        {% elseif period == 'custom' %}
                            <h2 class="pt-3 mb-3">Okres od <span class="custom-date">{{ startdate }}</span> do <span class="custom-date">{{ enddate }}</span></h2>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="card-group">

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Przychody</h3><hr>
                                {% for income in incomes %}
                                    <p class="card-text">{{ income.name }} : {{ income.amount }}</p>
                                {% endfor %}
                                <hr>
                                {% set totalIncomesSum = 0 %}
                                {% for income in incomes %}
                                    {% set totalIncomesSum = totalIncomesSum + income.amount %}
                                {% endfor %}
                                <p class="card-text">Suma: {{ totalIncomesSum|number_format(2, '.', ' ') }}</p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Wydatki</h3><hr>
                                {% for expense in expenses %}
                                    <p class="card-text">{{ expense.name }} : {{ expense.amount }}</p>
                                {% endfor %}
                                <hr>
                                {% set totalExpensesSum = 0 %}
                                {% for expense in expenses %}
                                    {% set totalExpensesSum = totalExpensesSum + expense.amount %}
                                {% endfor %}
                                <p class="card-text">Suma: {{ totalExpensesSum|number_format(2, '.', ' ') }}</p>
                                <div id="for-pie-chart" data-expenses="{{ expenses|json_encode }}"></div>
                                <hr>
                                <canvas id="expensesChart"></canvas>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Bilans</h3><hr>
                                <p class="card-text">{{ totalIncomesSum - totalExpensesSum }}</p>
                                <hr>
                                {% if totalIncomesSum - totalExpensesSum > 0 %}
                                    <p class="card-text" style="color: darkgreen;">Gratulujemy poprawnego zarządzania budżetem!</p>
                                {% else %}
                                    <p class="card-text" style="color:crimson;">Uważaj! Wpadasz w długi.</p>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}