{% extends "base.html" %}

{% block title %}PersonalBudget.com{% endblock %}

{% block body %}
    <main>
        <section id="content-description">
            <div class="container-fluid content-padding">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="big-heading">Zrób pierwszy krok ku oszczędzaniu i zacznij spełniać swoje marzenia</h1>
                        <a href="/signup/new" class="btn btn-warning btn-lg user-button">Zarejestruj się <i class="fa-solid fa-user-plus"></i></a>
                        <a href="/login/new" class="btn btn-success btn-lg user-button">Zaloguj się <i class="fa-solid fa-right-to-bracket"></i></a>
                    </div>
                    <div class="col-lg-6">
                        <img class="title-image" src="img/earn_money.jpg">
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
