{% extends "base_with_nav.html" %}

{% block title %}PersonalBudget.com - Witaj{% endblock %}

{% block body %}

    <div class="container-fluid">
        <main>
            <section id="content">
                <div class="row p-5 content-background">
                    {% if current_user %}
                        <h1>Witaj, {{ current_user.username }}</h1>
                    {% endif %}
                    <h3>Co chcesz teraz zrobić?</h3>
                </div>
            </section>
        </main>
    </div>

{% endblock %}