{% extends "base_with_nav.html" %}

{% block title %}PersonalBudget.com - Ustawienia{% endblock %}

{% block body %}

    <main>
        <section id="settings">
            <div class="container-fluid">

                <!-- Modal for changing user email address -->
                <div class="modal fade" id="changeEmailModal" tabindex="-1" aria-labelledby="changeEmailModalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="changeEmailModalLabel">Zmień email</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/settings/change-email" id="changeEmailForm">

                                <div class="emailErr"></div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input type="email" class="form-control" placeholder="Email" id="inputEmail" name="email" value="" required >
                                </div>

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                <button type="submit" class="btn btn-primary">Zapisz zmianę</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Modal for changing user password -->
                <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="changePasswordModalLabel">Zmień hasło</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/settings/change-password" id="changePasswordForm">

                                <div class="oldPassErr"></div>

                                <div class="input-group mb-3">
                                    <input data-toggle="password" data-placement="before" type="password" class="form-control" placeholder="Stare hasło" id="inputOldPassword" name="old-password" required >
                                </div>
    
                                <div class="passErr"></div>

                                <div class="input-group mb-3">
                                    <input data-toggle="password" data-placement="before" type="password" class="form-control" placeholder="Nowe hasło" id="inputPassword" name="password" required >
                                </div>
    
                                <div class="confirmErr"></div>
    
                                <div class="input-group mb-3">
                                    <input data-toggle="password" data-placement="before" type="password" class="form-control" placeholder="Powtórz hasło" id="inputPasswordConfirmation" name="password_confirmation" required >
                                </div>

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                <button type="submit" class="btn btn-primary">Zapisz zmianę</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    </div>
                </div>
                
                <!-- Modal for add/remove payment method -->
                <div class="modal fade" id="editPaymentModal" tabindex="-1" aria-labelledby="editPaymentModalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editPaymentModalLabel">Dodaj/edytuj/usuń metodę płatności</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/settings/add-payment-method" id="addPaymentForm">

                                <h6>Dodaj metodę płatności</h6>
                                <div class="paymentErr"></div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-money-check-dollar"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Nazwa metody" id="inputNewPaymentMethod" name="payment" required>
                                </div>

                                <button type="submit" class="btn btn-primary">Dodaj</button>
                            </form>

                            <hr>

                            <form method="post" action="/settings/edit-payment-method" id="editPaymentForm">

                                <h6>Edytuj metodę płatności</h6>
                                <p style="color: red;">Możesz edytować wyłącznie metody płatności dodane przez Ciebie</p>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-money-check-dollar"></i>
                                    </span>
                                    <select class="form-select" name="editPayment" required>
                                        <option disabled selected>Wybierz metodę do zmiany...</option>
                                        {% for method in paymentMethods %}
                                            <option value="{{ method.name }}">{{ method.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="paymentEditErr"></div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-money-check-dollar"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Nazwa metody" id="inputPaymentMethod" name="payment" required>
                                </div>

                                <button type="submit" class="btn btn-primary">Zapisz zmianę</button>
                            </form>

                            <hr>

                            <form method="post" action="/settings/remove-payment-method" id="removePaymentForm">

                                <h6>Usuń metodę płatności</h6>
                                <p style="color: red;">Możesz usunąć wyłącznie metody płatności dodane przez Ciebie</p>

                                <input type="hidden" name="removePayment" value="">
                                
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-money-check-dollar"></i>
                                    </span>
                                    <select class="form-select" name="removePayment" required>
                                        <option disabled selected>Wybierz metodę do usunięcia...</option>
                                        {% for method in paymentMethods %}
                                            <option value="{{ method.name }}">{{ method.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <label for="removeOptions">Opcje usuwania</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-money-check-dollar"></i>
                                    </span>
                                    <select class="form-select" name="removeOptions" required>
                                        <option selected value="1">Przypisz wydatki do płatności gotówką</option>
                                        <option value="2">Usuń wszystkie wydatki powiązane z płatnością</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary">Usuń</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Modal for add/edit/remove income category -->
                <div class="modal fade" id="editIncomeCategoryModal" tabindex="-1" aria-labelledby="editIncomeCategoryModalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editIncomeCategoryModalLabel">Dodaj/edytuj/usuń kategorię przychodu</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/settings/add-income-category" id="addIncomeCategoryForm">

                                <h6>Dodaj kategorię przychodu</h6>
                                <div class="addIncomeCategoryErr"></div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-pen"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Nazwa kategorii" id="inputNewIncomeCategory" name="inputIncomeCategory" required>
                                </div>

                                <button type="submit" class="btn btn-primary">Dodaj kategorię</button>
                            </form>

                            <hr>

                            <form method="post" action="/settings/edit-income-category" id="editIncomeCategoryForm">

                                <h6>Edytuj kategorię przychodu</h6>
                                <p style="color: red;">Możesz edytować wyłącznie kategorie dodane przez Ciebie</p>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-pen"></i>
                                    </span>
                                    <select class="form-select" name="editIncomeCategory" required>
                                        <option disabled selected>Wybierz kategorię do zmiany...</option>
                                        {% for category in incomeCategories %}
                                            <option value="{{ category.name }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="editIncomeCategoryErr"></div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-brands fa-shopify"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Nazwa kategorii" id="inputIncomeCatgory" name="inputIncomeCategory" required>
                                </div>

                                <button type="submit" class="btn btn-primary">Zapisz zmianę</button>
                            </form>

                            <hr>

                            <form method="post" action="/settings/remove-income-category" id="removeIncomeCategoryForm">

                                <h6>Usuń kategorię</h6>
                                <p style="color: red;">Możesz usunąć wyłącznie kategorie dodane przez Ciebie</p>

                                <input type="hidden" name="removeIncomeCategory" value="">
                                
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-brands fa-shopify"></i>
                                    </span>
                                    <select class="form-select" name="removeIncomeCategory" required>
                                        <option disabled selected>Wybierz kategorię do usunięcia...</option>
                                        {% for category in incomeCategories %}
                                            <option value="{{ category.name }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <label for="removeIncomeCategoryOptions">Opcje usuwania</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-pen"></i>
                                    </span>
                                    <select class="form-select" name="removeIncomeCategoryOptions" required>
                                        <option selected value="1">Przypisz przychody do kategorii "Inne"</option>
                                        <option value="2">Usuń wszystkie przychody powiązane z kategorią</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary">Usuń</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Modal for add/edit/remove expense category -->
                <div class="modal fade" id="editExpenseCategoryModal" tabindex="-1" aria-labelledby="editExpenseCategoryModalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editExpenseCategoryModalLabel">Dodaj/edytuj/usuń kategorię wydatku</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/settings/add-expense-category" id="addExpenseCategoryForm">

                                <h6>Dodaj kategorię wydatku</h6>
                                <div class="addExpenseCategoryErr"></div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-pen"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Nazwa kategorii" id="inputNewExpenseCategory" name="inputExpenseCategory" required>
                                </div>

                                <button type="submit" class="btn btn-primary">Dodaj kategorię</button>
                            </form>

                            <hr>

                            <form method="post" action="/settings/edit-expense-category" id="editExpenseCategoryForm">

                                <h6>Edytuj kategorię wydatku</h6>
                                <p style="color: red;">Możesz edytować wyłącznie kategorie dodane przez Ciebie</p>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-pen"></i>
                                    </span>
                                    <select class="form-select" name="editExpenseCategory" required>
                                        <option disabled selected>Wybierz kategorię do zmiany...</option>
                                        {% for category in expenseCategories %}
                                            <option value="{{ category.name }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="editExpenseCategoryErr"></div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-brands fa-shopify"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Nazwa kategorii" id="inputExpenseCatgory" name="inputExpenseCategory" required>
                                </div>

                                <button type="submit" class="btn btn-primary">Zapisz zmianę</button>
                            </form>

                            <hr>

                            <form method="post" action="/settings/remove-expense-category" id="removeExpenseCategoryForm">

                                <h6>Usuń kategorię</h6>
                                <p style="color: red;">Możesz usunąć wyłącznie kategorie dodane przez Ciebie</p>

                                <input type="hidden" name="removeExpenseCategory" value="">
                                
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-brands fa-shopify"></i>
                                    </span>
                                    <select class="form-select" name="removeExpenseCategory" required>
                                        <option disabled selected>Wybierz kategorię do usunięcia...</option>
                                        {% for category in expenseCategories %}
                                            <option value="{{ category.name }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <label for="removeExpenseCategoryOptions">Opcje usuwania</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-pen"></i>
                                    </span>
                                    <select class="form-select" name="removeExpenseCategoryOptions" required>
                                        <option selected value="1">Przypisz wydatki do kategorii "Inne"</option>
                                        <option value="2">Usuń wszystkie wydatki powiązane z kategorią</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary">Usuń</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="row no-gutter-x">
                    <div class="m-auto content-background">
                        <h2 class="pt-3 mb-3">Ustawienia</h2>
                    </div>
                    <div class="col-lg-4 content-background m-auto rounded-top wrapper">
                        <a href="#" class="btn btn-success btn-lg user-button" role="button" id="edit-email" data-bs-toggle="modal" data-bs-target="#changeEmailModal">Zmień email</a>
                        <a href="#" class="btn btn-success btn-lg user-button" role="button" id="edit-password" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Zmień hasło</a>
                        <div>
                            <a href="#" class="btn btn-success btn-lg user-button" role="button" id="edit-payment" data-bs-toggle="modal" data-bs-target="#editPaymentModal">Zarządzaj metodami płatności</a>
                        </div>
                        <a href="#" class="btn btn-success btn-lg user-button" role="button" id="edit-income-category" data-bs-toggle="modal" data-bs-target="#editIncomeCategoryModal">Zarządzaj kategoriami przychodów</a>
                        <a href="#" class="btn btn-success btn-lg user-button" role="button" id="edit-expense-category" data-bs-toggle="modal" data-bs-target="#editExpenseCategoryModal">Zarządzaj kategoriami wydatków</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
                    
{% endblock %}