{% extends "base.html" %}

{% block title %}PersonalBudget.com - Logowanie{% endblock %}

{% block body %}

    <main>
        <section id="login-form">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-4 bg-white m-auto rounded-top wrapper">
                        <h2 class="pt-3 mb-3">Logowanie</h2>

                        <form method="post" action="/login/create">

                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="email" class="form-control" placeholder="Email" id="inputEmail" name="email" value="{{ email }}" autofocus required >
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input type="password" class="form-control" placeholder="Hasło" id="inputPassword" name="password" required >
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-success mb-3">Zaloguj się</button>
                            </div>

                            <p>
                                <a href="/password/forgot" class="link-success text-decoration-none">Zapomniałem hasła</a>
                            </p>
                            <p>
                                Nie posiadasz jeszcze konta? <a href="/signup/new" class="link-success text-decoration-none">Zarejestruj się tutaj</a>
                            </p>

                        </form>

                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}