{% extends "base.html" %}

{% block nav %}

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/welcome/index"><i class="fa-solid fa-house-user"></i> Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-coins"></i> Dodaj przychód</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/expense/new"><i class="fa-solid fa-cart-shopping"></i> Dodaj wydatek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-scale-unbalanced"></i> Przeglądaj bilans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-gear"></i> Ustawienia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login/destroy"><i class="fa-solid fa-right-from-bracket"></i> Wyloguj się</a>
                    </li>
                </ul>
            </div>
            
        </nav>
    </div>

{% endblock %}

{% block footer %}

    <script src="/js/app.js"></script>

    <script type="text/javascript">
        $.fn.datepicker.dates['pl'] = {
            days: ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"],
            daysShort: ["Nd", "Pon", "Wt", "Śr", "Czw", "Pt", "Sob"],
            daysMin: ["Nd", "Pon", "Wt", "Śr", "Czw", "Pt", "Sob"],
            months: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"],
            monthsShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            today: "Dziś",
            clear: "Clear",
            format: "yyyy-mm-dd"
            //titleFormat: "MM yyyy",
            //weekStart: 0
        };

        $(".date").datepicker({
            startDate: '2000-01-01',
            endDate: new Date(),
            language: 'pl'
        });

        $(document).ready(function() {
            $('#formAddExpense').validate({
                    /*errorPlacement: function(error, element) {
                    if (element.attr("name") == "username") {
                        error.insertAfter(".nameErr");
                        error.css('color', 'red');
                    }
                    else if (element.attr("name") == "email") {
                        error.insertBefore(".emailErr");
                        error.css('color', 'red');
                    }
                    else if (element.attr("name") == "password") {
                        error.insertBefore(".passErr");
                        error.css('color', 'red');
                    }
                    else if (element.attr("name") == "password_confirmation") {
                        error.insertBefore(".confirmErr");
                        error.css('color', 'red');
                    }
                },*/
                rules: {
                    amount: {
                        required: true,
                        validNumber: true
                    },
                    email: {
                        required: true,
                        email: true,
                        remote: '/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    },
                    password_confirmation: {
                        equalTo: '#inputPassword'
                    }
                },
                messages: {

                }
            });
        });

        $.validator.addMethod('validNumber',
            function(value, element, param) {
                if (value != '') {
                    if (value.match(/^[0-9]+,[0-9]*$/) == null && value.match(/^[0-9]+.[0-9]*$/) == null) {
                        return false;
                    }
                }
                return true;
            },
            'Proszę wpisać poprawną kwotę'
        );
    </script>

{% endblock %}