{% extends "base.html" %}

{% block nav %}

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/welcome/index"><i class="fa-solid fa-house-user"></i> Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/income/new"><i class="fa-solid fa-coins"></i> Dodaj przychód</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/expense/new"><i class="fa-solid fa-cart-shopping"></i> Dodaj wydatek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/balance/index"><i class="fa-solid fa-scale-unbalanced"></i> Przeglądaj bilans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-gear"></i> Ustawienia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login/destroy"><i class="fa-solid fa-right-from-bracket"></i> Wyloguj się</a>
                    </li>
                    {% block nav_item %}
                    {% endblock %}
                </ul>
            </div>
            
        </nav>
    </div>

{% endblock %}

{% block footer %}

    <script src="/js/app.js"></script>

    <script type="text/javascript">
        $.fn.datepicker.dates['pl'] = {
            days: ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"],
            daysShort: ["Nd", "Pon", "Wt", "Śr", "Czw", "Pt", "Sob"],
            daysMin: ["Nd", "Pon", "Wt", "Śr", "Czw", "Pt", "Sob"],
            months: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"],
            monthsShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            today: "Dziś",
            clear: "Clear",
            format: "yyyy-mm-dd"
            //titleFormat: "MM yyyy",
            //weekStart: 0
        };

        $(".date").datepicker({
            startDate: '2000-01-01',
            endDate: new Date(),
            language: 'pl'
        });

        $(document).ready(function() {
            $('#formAddExpense').validate({
                    errorPlacement: function(error, element) {
                    if (element.attr("name") == "amount") {
                        error.insertAfter(".amountErr");
                        error.css('color', 'red');
                    }
                    else if (element.attr("name") == "date") {
                        error.insertBefore(".dateErr");
                        error.css('color', 'red');
                    }
                    else if (element.attr("name") == "payment") {
                        error.insertBefore(".paymentErr");
                        error.css('color', 'red');
                    }
                    else if (element.attr("name") == "category") {
                        error.insertBefore(".categoryErr");
                        error.css('color', 'red');
                    }
                },
                rules: {
                    amount: {
                        required: true,
                        number: true,
                        min: 0.01,
                        max: 1000000000.00
                    },
                    date: {
                        required: true
                    },
                    payment: {
                        required: true,
                        remote: '/validator/validate-payment-method'
                    },
                    category: {
                        required: true,
                        remote: '/validator/validate-expense-category'
                    }
                },
                messages: {
                    amount: {
                        number: 'Proszę wpisać kwotę do 2 miejsc po przecinku.',
                        min: 'Proszę wpisać kwotę większą lub równą 0.01.',
                        max: 'Kwota max. wynosi 1000000000'
                    },
                    payment: {
                        remote: 'Proszę wpisać istniejącą metodę płatności'
                    },
                    category: {
                        remote: 'Proszę wpisać istniejącą kategorię wydatków'
                    }
                }
            });

            $('#formAddIncome').validate({
                errorPlacement: function(error, element) {
                    if (element.attr("name") == "amount") {
                        error.insertAfter(".amountErr");
                        error.css('color', 'red');
                    }
                    else if (element.attr("name") == "date") {
                        error.insertBefore(".dateErr");
                        error.css('color', 'red');
                    }
                    else if (element.attr("name") == "category") {
                        error.insertBefore(".categoryErr");
                        error.css('color', 'red');
                    }
                },
                rules: {
                    amount: {
                        required: true,
                        number: true,
                        min: 0.01,
                        max: 1000000000.00
                    },
                    date: {
                        required: true
                    },
                    category: {
                        required: true,
                        remote: '/validator/validate-income-category'
                    }
                },
                messages: {
                    amount: {
                        number: 'Proszę wpisać kwotę do 2 miejsc po przecinku.',
                        min: 'Proszę wpisać kwotę większą lub równą 0.01.',
                        max: 'Kwota max. wynosi 1000000000'
                    },
                    category: {
                        remote: 'Proszę wpisać istniejącą kategorię wydatków'
                    }
                }
            });
        });

        $.validator.methods.number = function(value, element, param) {
            return this.optional(element) || /^-?(?:\d+|\d+(?:\.\d{2})+)?(?:,\d+)?$/.test(value);
        }
    </script>

{% endblock %}